<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/libs/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="http://localhost:701">Question Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:701/ask">Submit Question</a>
        </li>
    </ul>
    {{!-- <button><a href="http://localhost:701/ask">Submit Question</a></button> --}}
    {{!-- <button><a href="http://localhost:701">Main Page</a></button> --}}

    {{{body}}}
</body>

</html>