<div class="container">
    <div>
        <form action="/ask" method="post">
            <label for="exampleFormControlTextarea1">Let's askkk!!!</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" type="text" name="text" required></textarea>
            <br>
            <button type="submit" class="btn btn-outline-primary">SENT</button><br><br>
            {{!-- <button><a href="http://localhost:5000">Main Page</a></button> --}}
        </form>
    </div>
</div>