<h2>dat cau hoi

</h2>
<form action="/ask" method = "post">
    <textarea rows="4" cols="40" type="text" name="text" id=""></textarea>
    <button type="submit">GUI</button><br><br>
    <button><a href="http://localhost:5000">Main Page</a></button>
</form>